@import "partials/setup";
@import "partials/loading";
@import "partials/variables";
@import "partials/typography";
@import "partials/sections";


html {
    font-size: 125%;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 65%;
    text-align: center;
}

.randomBtn {
    font-size: 20px;
    font-weight: bold;
}

.bg-green {
    background-color: green;
}

@import "partials/media-queries";