body {
  background-color: $bgMain;
  position: relative;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 50px;
  p {
    padding: 20px 70px;
  }
}

main {
  display: flex;
  justify-content: space-between;
//   padding-bottom: 2rem;
  .allAgents {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
  }
  .agentContainer {
    width: 60%;
    border: 1px solid $bgSecond;
    height: 720px;
  }
}

// buttons
.agentBtns {
  width: 160px;
  .agentBtn {
    width: 120px;
  }
  .xBtn {
    margin: 5px 0;
  }
}

.randomizeBtns {
  margin-top: 120px;
  .randomSelected {
    background-color: green;
    color: $textBright;
  }
}

.footer {
  display: flex;
  justify-content: center;
  height: 2rem;
  footer {
    bottom: 0;
    padding: 15px;
    position: absolute;
  }
}
