body {
  background-color: $bgMain;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 50px;
  p {
    padding: 0 70px;
  }
}

main {
  display: flex;
  justify-content: space-between;
//   padding-bottom: 2rem;
  .allAgents {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
  }
  .agentContainer {
    width: 55%;
    border: 1px solid $neutral;
    // height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .randomAgent {
      text-align: center;
    }
  }
}

// buttons
.agentBtns {
  width: 160px;
  .agentBtn {
    width: 120px;
  }
  .xBtn {
    margin: 5px 0;
  }
}

.randomizeBtns {
  margin-top: 50px;
  .randomSelected {
    background-color: $bright;
    color: $neutral;
    &:disabled {
        background-color: $neutral;
        color: grey;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  height: 2.8rem;
  footer {
    bottom: 0;
    padding: 15px;
    position: absolute;
  }
}
