@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Teko:wght@300;700&display=swap");

h1 {
  color: $bright;
  font-family: $fontHeader;
  font-size: 2.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  font-family: $fontHeader;
  font-weight: 700;
  color: $neutral;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 20px;
  position: absolute;
  text-shadow: 5px 5px $bright;
}

p {
  font-family: $fontMain;
  font-weight: 100;
  color: $neutral;
  font-size: 0.9rem;
}

footer {
  p,
  a {
    font-family: $fontMain;
    font-weight: 300;
    font-size: 0.7rem;
    color: $neutral;
  }
  a:hover, a:focus {
      color: $bright;
  }
}

a {
  text-decoration: none;
}

// buttons

button {
  font-family: $fontMain;
  background-color: $neutral;
  border: none;
  color: $bgMain;
  padding: 6px;
  margin: 5px;
  cursor: pointer;
  &:disabled {
    background-color: $bright;
    color: $neutral;
    margin-right: 0;
    cursor: default;
    &:hover {
      background-color: $bright;
    }
  }
  &:hover,
  &:focus {
    background-color: $hover;
    // color: $neutral;
  }
}
